<!-- text box to take input and filter down to mushrooms whose description matches entered text-->
<input type=text ng-model="shroomSearch">
<!-- radio btns Poisonous Non-poisonous to filter down mushrooms w/ that value-->
<input type="radio" name="edible" value="false" ng-model="poisonous"> Poisonous
<input type="radio" name="edible" value="true" ng-model="poisonous"> Non-Poisonous
<!-- list of all mushrooms prior to filtering-->
<ul ng-repeat="shroom in shroomArr | filter: {description: shroomSearch, edible: poisonous}">
  <li>{{shroom.name}}</li>
</ul>